<h1>Reminder: {{ reminder.remtitle_text}}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'reminders:reminder' reminder.id %}" method="POST">
{% csrf_token %}

<label> Title : </label>
<input type="text" name="remtitle" id="remtitle" value="{{ reminder.remtitle_text }}" /><input type="text" name="remid" id="remid" value="{{ reminder.id }}" />
    <br />
<label> Description : </label>
<input type="text" name="remdesc" id="remdesc" value="{{ reminder.remdesc_text }}" />
    <br />
<label> Category : </label>
<input type="text" name="catname" id="catname" value="{{ reminder.category }}" />
<input type="text" name="catid" id="catid" value="{{ reminder.category.id }}" />
    <br />
<label> Date : </label>
<input type="text" name="remdate" id="remdate" value="{{ reminder.rem_date }}" />
    <br />
<!--<label> Created on : </label>
<input type="text" name="remcreated" id="remcreated" value="{{ reminder.created_date }}" />-->
<br />
<br />
<a href="{% url 'reminders:reminder_edit' pk=reminder.id %}">Edit</a>
<br />
<a href="{% url 'reminders:reminder_delete' pk=reminder.id %}">Delete</a>
<br />
<br />
</form>
<a href="{% url 'reminders:results' reminder.category.id %}">Back to reminder listing</a>