{% block content %}
<p>{% if not user.is_authenticated %}<a href="{% url 'login' %}"> Login </a>{% endif %}{% if user.is_authenticated %} Welcome {{ user.username }} || <a href="{% url 'logout' %}?next=/login/"> Logout </a>{% endif %}</p>
<h1>Reminder: {{ reminder.remtitle_text}}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="" class="reminder-form" method="POST">
{% csrf_token %}
{% for field in form %}
    <div class="fieldWrapper">    
        {{ field.label }} <br />
		{{ field }} <span style="padding-left: 10px; width:200px; height:20px; display: inline-block;"><span style="color: red;">{% for err in field.errors %} {{ err }} {% endfor %}</span> {% if field.help_text %}
        [i]:{{ field.help_text|safe }}
        {% endif %}</span>  
    </div>
{% endfor %}
<input type="submit" value="Update" />
<input type="button" value="Cancel" onclick="window.history.go(-1);"/>
<br />
<br />
</form>
<a href="{% url 'reminders:reminder' reminder.id %}">Back to reminder listing</a> || <a href="{% url 'reminders:reminder_delete' pk=reminder.id %}"> Delete reminder </a>
<br />
</form>
{% endblock %}